extends base

block content
    main.main
        .error
            .error__title
                    h2.heading-secondary.heading-secondary--error Uh oh! Your cart is empty!   
                    h2.error__emoji 😢 🤯
