extends base

block content
    main.main
        .error__title(style="display: flex;flex-direction: column;align-items: center;margin-right: 200px;")
            h2.heading-secondary.heading-secondary--error(style="width: 400px;text-align: center;color: #fda00b;font-size: 100px;") Uh oh! Your cart is empty!   
            h2.error__emoji 😢 🤯
