extends base

block content 
    .wrapper-over
        .content-over
            h1 WELCOME TO JFood
            p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
                | non illo esse numquam tenetur, error quia sapiente nulla quasi
                | exercitationem odio, ab explicabo repudiandae voluptas
                | recusandae velit voluptatibus! Quia, officia.
            button ORDER NOW