extends base

mixin navItem(link,text,icon,active)
    li(class=`${active?'side-nav--active':''}`)
        a(href=link)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}
block content
    link(rel='stylesheet', href='/css/stylish.css')
    //- link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style1.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me-rest','Settings','settings')
                    +navItem('/my-orders-rest','My bookings','briefcase')
                    +navItem('signup2-menu','Make Your Menu','star',true)
                    +navItem('/manageMenu','Update Your Menu','star')
                    +navItem('/getQr','Get you QR code','credit-card')

            .user-view__content(style="display: flex;justify-content: center;align-items: center;")
                .login-form(style="overflow: hidden;")
                    .signup-form2(style="style=align-items: center;display: flex;flex-direction: column;")
                        script(src='//code.jquery.com/jquery-1.11.1.min.js')
                        //- script(src='/css/kl.js')
                        h2.heading-secondary(style="margin: 0;") Make Your Menu
                        form.form.form--signup(style="display: flex;align-items: center;justify-content: center;flex-direction: column;")
                            h2.heading-secondary(style="margin: 0;padding: 20px; margin-bottom:10px")  Add Item
                            #field
                                #field0(style="display: flex;flex-direction: column;gap:5px")                                    
                                    .form-group(style="align-items: center;justify-content: center;display: flex;")
                                        label.col-md-4.control-label(for='action_heading') Category
                                        .col-md-6
                                            input#category_name.form-control.input-md(name='action_heading', type='text', placeholder='eg: pizza' style="border-radius: 20px;")
                                    // Text input

                                    .form-group(style="align-items: center;justify-content: center;display: flex;")
                                        label.col-md-4.control-label(for='action_name') Meal Name
                                        .col-md-6
                                            input#meal_name.form-control.input-md(name='action_name', type='text', placeholder='eg: peppy paneer' style="border-radius: 20px;")

                                    // Text input
                                    .form-group(style="align-items: center;justify-content: center;display: flex;")
                                        label.col-md-4.control-label(for='action_price') Meal Price
                                        .col-md-6
                                            input#meal_price.form-control.input-md(name='action_price', type='number', placeholder='eg: 451' style="border-radius: 20px;")

                                    // File Button
                                    .form-group(style="align-items: center;justify-content: center;display: flex;")
                                        label.col-md-4.control-label(for='action_photo') Meal Photo
                                        .col-md-6
                                            input#meal_photo.form-control.input-md(type='text', name='action_photo',placeholder='eg: link' style="border-radius: 20px;")
                                            #action_jsondisplay

                            // Button

                            .form-group(style="margin-top: 20px;")
                                button.btn.btn--green(style="border-radius: 30px;font-size: 20px;padding: 10px;width: 125px;") Submit