extends base

mixin navItem(link,text,icon,active)
    li(class=`${active?'side-nav--active':''}`)
        a(href=link)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}
block content
    link(rel='stylesheet', href='/css/stylish.css')
    //- link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style1.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me-rest','Settings','settings')
                    +navItem('/my-orders-rest','My bookings','briefcase')
                    +navItem('signup2-menu','Make Your Menu','star',true)
                    +navItem('/getQr','Get you QR code','credit-card')

            .user-view__content
                .login-form
                    .signup-form2
                        link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
                        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
                        script(src='//code.jquery.com/jquery-1.11.1.min.js')
                        //- script(src='/css/kl.js')
                        h2.heading-secondary.ma-bt-lg Make Your Menu
                        form.form.form--signup
                            .col-xs-12
                                .col-md-12
                                    h3  Add Menu
                                    
                                    #field
                                        #field0                                    
                                            .form-group
                                                label.col-md-4.control-label(for='action_heading') Category
                                                .col-md-6
                                                    input#category_name.form-control.input-md(name='action_heading', type='text', placeholder='eg: pizza')
                                                    br
                                            br
                                            br
                                            br
                                            // Text input

                                            .form-group
                                                label.col-md-4.control-label(for='action_name') Meal Name
                                                .col-md-6
                                                    input#meal_name.form-control.input-md(name='action_name', type='text', placeholder='eg: peppy paneer')
                                            br
                                            br
                                            // Text input
                                            .form-group
                                                label.col-md-4.control-label(for='action_price') Meal Price
                                                .col-md-6
                                                    input#meal_price.form-control.input-md(name='action_price', type='number', placeholder='eg: 451')
                                                    br
                                            br
                                            br
                                            // File Button
                                            .form-group
                                                label.col-md-4.control-label(for='action_photo') Meal Photo
                                                .col-md-6
                                                    input#meal_photo.form-control.input-md(type='text', name='action_photo',placeholder='eg: link')
                                                    #action_jsondisplay
                                                    br
                                            br
                                            br
                                    // Button
                                    br
                                    br
                                    .form-group
                                        .col-md-4
                                            .form__group

                                                button.btn.btn--green Submit
                                    br
                                    br