body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background: rgba(0,0,0,0.4);
    height: 82vh;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
}

.wrapper-over{
    background-image: url('food.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh;
}

.content-over{
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.content-over h1{
    font-size: 50px;
}

.content-over p{
    padding: 0px 50px;
    font-size: 20px;
}

button{
    background:none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button:hover{
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}

.overlay{
    background: rgba(0,0,0,0.4);
    height: 100vh;
}