*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
}
.menu{
    padding: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    height: 82vh;
    overflow-y: scroll;
}
.heading{
    background-color: #cb202d;
    color: #ffffff;
    /* margin-bottom: 30px; */
    padding: 10px 0 10px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    height: 410px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(0 0 0 / 40%);
    justify-content: space-between;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    margin-bottom: 0;
}
.quant .btn{
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    padding: 10px 15px;
    width: 125px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center;
    background: #343f4f; */
}

.wrapper{
    width: 125px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);

}

.wrapper span{
    width: 100%;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
}
.wrapper span.num{
    font-size: 15px;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    pointer-events: none;
}


.quant{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 25px;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
}